h1{
    text-align: center;
    font-size: 40px;
    color: #ec1d25;
    font-weight: normal;
}
h1 span{
font-size: 50px;
font-weight: bold;
}
.welcomeImg{
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 20px;
}
.welcome-para{
    padding: 0px 16rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    text-align: justify;
}