.offer-container {
  padding: 100px 0;
  margin-bottom: 2rem;
  background-color: #ecf0f1;
}
.offer-icon {
  text-align: center;

  flex: 1 1 0;
}
.offer-container h1 {
  color: black;
  margin-top: -3rem;
}
.icons-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10rem;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
.icon-img {
  width: 120px;
  height: 120px;
  border: 2px solid white;
  border-radius: 50%;
  line-height: 120px;
  text-align: center;
  font-size: 60px;
  background-color: #ec1d25;
  color: white;
  -webkit-transition: -webkit-transform 0.8s;
}
.icon-img:hover {
  background-color: black;
  transition: 0.9s;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.icons-container .offer-icon p {
  text-align: center;
  padding-top: 10px;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
p.welcome-para.language {
  padding: 0rem 3rem;
  text-align: left;
  margin-top: 1rem;
}

@media only screen and (max-width: 1100px) {
  .offer-container {
    margin-bottom: 16rem;
  }
}
@media only screen and (max-width: 950px) {
  .icon-img {
    width: 90px;
    height: 90px;
    border: 2px solid white;
    line-height: 90px;
    font-size: 40px;
  }

  .icons-container {
    padding: 0px 8rem;
    gap: 4rem;
  }
}
